<aside class="sidebar collections-sidebar-container row">
	<div class="collections-sidebar col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h2 class="sidebar-title">Complete Visie</h2>
		<div class="sidebar-content">
			<!-- CREATE array with all characters of the alphabet (Uppercase) -->
			<div class="vision-container">
				<!-- START LOOP through alphabet array -->
					<!-- SET link tekst to current character in loop -->
					<!-- APPEND character to link url -->
					<a class="vision-item" target="_blank" href="https://visie.jongedemocraten.nl/standpunten/"> </a>
				<!-- END LOOP -->
			</div>
		</div>
	</div>
</aside>