{% for item in page.get_content_model.sidebarrichtext_set.all %}
    {% if item.visible %}
        <aside class="sidebar content-block collections-sidebar-container row">
            <div class="collections-sidebar col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="sidebar-title"><i class="gd gd-agenda"></i> Content Block</h2>
                <div class="sidebar-content">
                    <a href="#">
                        <img src="resources/img/doe-mee.jpg" alt="#"/>
                    </a>
                </div>
            </div>
        </aside>
    {% endif %}
{% endfor %}