<aside class="sidebar categories collections-sidebar-container row">
    <div class="collections-sidebar col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2 class="sidebar-title">Categoriën</h2>
        <ul class="sidebar-content">
            <!-- START LOOP through categories -->
            <li class="sidebar-item">
                <!-- SET href category url -->
                <a href="#">Nieuwsberichten</a>
            </li>
            <!-- END LOOP -->
        </ul>
    </div>
</aside>