<aside class="sidebar agenda collections-sidebar-container row">
	<div class="collections-sidebar col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h2 class="sidebar-title"><i class="gd gd-agenda"></i> Agenda</h2>
		<div class="sidebar-content">
			<!-- START LOOP through 6 upcomming agenda items -->
				<div class="sidebar-item">
					<!-- SET href agenda item url -->
					<a href="#">
						<h3>23 Februari 2017</h3>
						<p>Lorem ipsum dolor sit amet de ipsum</p>
					</a>
				</div>
			<!-- END LOOP -->
			<!-- SET href agenda overview -->
			<a class="sidebar-link" href="#">Alle activiteiten <i class="gd gd-arrow-right-o"></i></a>
		</div>
	</div>
</aside>