{% load mezzanine_tags %}


<article class="list-item col-lg-4 col-md-6 col-sm-4 col-xs-6">
    <div>
        {% if member.image %}
        <figure><img src="{{ member.image.url }}" alt="Person portrait"/></figure>
        {% endif %}
        <h2>{{ member.name }}</h2>
        <h3>{{ member.role }}</h3>
        {{ member.content|richtext_filters|safe }}
        <!-- SET href with personal social -->
        <div class="social-container">
            <a href="#" class="social-item">Facebook<i class="gd gd-facebook"></i></a>
            <a href="#" class="social-item">Twitter<i class="gd gd-twitter"></i></a>
        </div>
    </div>
</article>