[run]
source = website

[report]
omit = 
    */migrations/*
    website/local_settings_example.py
    website/local_settings.py
    website/wsgi.py
    website/manage.py
    website/management/commands/jd_finalize.py
    website/management/commands/jd_joomla_import_site.py
