django==1.8.5
mezzanine==4.0.1
grappelli-safe==0.3.13
django-simple-captcha==0.4.3
django_debug_toolbar==1.4
django-rq==0.8.0
django-formtools==1.0
PyMySQL==0.6.3
python-dateutil
icalendar==3.8.4
-e git+https://github.com/jonge-democraten/mezzanine-fullcalendar@v0.6.8#egg=fullcalendar
-e git+https://github.com/jonge-democraten/janeus@1.4#egg=janeus
-e git+https://github.com/jonge-democraten/hemres@0.8#egg=hemres
inlinestyler==0.2.0
django-robots==1.1
