django==1.7.8
mezzanine==3.1.10
django-simple-captcha==0.4.3
django_debug_toolbar==1.2.2
django-rq==0.8.0
PyMySQL==0.6.3
python-dateutil
icalendar==3.8.4
-e git+https://github.com/jonge-democraten/mezzanine-fullcalendar@v0.6.1#egg=fullcalendar
-e git+https://github.com/rbarrois/python-ldap@py3#egg=python-ldap
-e git+https://github.com/jonge-democraten/janeus@1.2-mezzanine#egg=janeus
-e git+https://github.com/jonge-democraten/hemres@0.5#egg=hemres
inlinestyler==0.2.0
