django==1.11.28
mezzanine==4.2.3
grappelli-safe==0.4.7
django-simple-captcha==0.5.5
django-rq==0.9.6
django-formtools==2.1
icalendar==3.11.7
-e git+https://github.com/jonge-democraten/mezzanine-fullcalendar@0.6.13#egg=fullcalendar
-e git+https://github.com/jonge-democraten/janeus@1.5#egg=janeus
-e git+https://github.com/jonge-democraten/hemres@0.28#egg=hemres
inlinestyler==0.2.3
django-robots==3.0
PyMySQL==0.7.11
django_debug_toolbar==1.8
# pillow is normally defined by mezzanine, but thumbnails fail with pillow 4.3.0, see https://github.com/stephenmcd/mezzanine/issues/1785
pillow==4.1.1
