<!doctype html>
{% load pages_tags staticfiles %}
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %} class="mobile">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TAGLINE %} - {{ settings.SITE_TAGLINE }}{% endif %}</title>
    <link rel="stylesheet" href="{% static "css/rkr_cookiebanner.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "css/modstyle.css" %}" type="text/css" />
    <script src="{% static "js/mootools-core.js" %}" type="text/javascript"></script>
    <script src="{% static "js/core.js" %}" type="text/javascript"></script>
    <script src="{% static "js/caption.js" %}" type="text/javascript"></script>
    <script type="text/javascript">
        window.addEvent('load', function() {
            new JCaption('img.caption');
        });
    </script>

    <meta content='initial-scale=1,width=device-width' name='viewport'/>
    <script src="{% static "js/mootools-more.js" %}" type="text/javascript"></script>
    <link rel="icon" href="{% static "images/jdicon.png" %}" type="image/png" />
    <link rel="stylesheet" href="{% static "css/template.css" %}" type="text/css" />
    <script src="{% static "js/jquery-1.11.1.min.js" %}" type="text/javascript"></script>

    <meta name="twitter:card" value="summary">
    <meta name="twitter:title" value="{% block meta_title2 %}{% endblock %}{% if settings.SITE_TAGLINE %} -  {{ settings.SITE_TAGLINE }}{% endif %}">
    <meta name="twitter:description" value="{% block meta_description2 %}{% endblock %}">
    <meta name="twitter:image" value="{{ TODO }}">

    <meta name="twitter:creator" value="@JongeDemocraten">
    <meta name="twitter:site" value="@JongeDemocraten">
</head>

<body class="{% block body_class %}body{% endblock %}">
    <div id="outerDiv">
        <div id="innerDiv">
            <div id="headerDiv">
                <div id="logoDiv">
                    {% block logo %}{% endblock %}
                </div> <!-- logoDiv -->
                {% page_menu "pages/menus/jdmenu.html" %}
                <div id="menuBtn">
                    Menu
                    <span></span>
                </div> <!-- menuBtn -->
                <script>
                    $(document).ready(function(){
                        var menuSlide = new Fx.Slide('menuDiv',{'duration': 500}).hide();
                        $('#menuBtn').click(function(){
                            menuSlide.toggle().chain(function(){
                                var pos = (menuSlide.open ? '0 -9px' : '0 0');
                                $('menuBtn').getElement('span').setStyle('background-position', pos);
                            });
                        });
                    });
                </script>
            </div> <!-- headerDiv -->
            <div id="contentDiv" class="clearing">
                {% block main %}{% endblock main %}

                <section class="collapsable agenda">
                    <div class="moduletableagenda">
                        <h3>Agenda</h3>
                        {{ TODO }}
                    </div> <!-- moduletableagenda -->
                </section>

                <section class="collapsable blog">
                    {% for item in sidebar_items %}
                        <div class="moduletable">
                            {% with template_name=item.get_template_name %}
                                {% include "elements/"|add:template_name %}
                            {% endwith %}
                        </div> <!-- moduletable -->
                    {% endfor %}
                </section>

                <script>
                    var slides = [];
                    $$('section').each(function(sect,idx){
                        var slider = sect.getElement('div.mod_placehere, div.mod_placeherenieuws, div.tablewrapper');
                        if (slider) {
                            slides[idx] = new Fx.Slide(slider,{'duration': 500});
                            if (sect.hasClass('closed')) {
                                slides[idx].hide();
                            } else {
                                slides[idx].show();
                            }
                            sect.getElement('h3').addEvent('click',function(){
                                console.log(idx);
                                console.log(slides[idx].open);
                                slides[idx].toggle().chain(function(){
                                    if (slides[idx].open) {
                                        sect.removeClass('closed');
                                    } else {
                                        sect.addClass('closed');
                                    }
                                });
                            });
                        }
                    });
                </script>

                <script>
                    var scroll = new Fx.Scroll(window);
                    $('#upBtn').click(function(){
                        scroll.toTop();
                    });
                </script>
            </div> <!-- contentDiv -->
        </div> <!-- innerDiv -->
    </div> <!-- outerDiv -->

    <div id="footerDiv">
        <div class="moduletableonline">
            {{ TODOinclude }}
        </div> <!-- moduletableonline -->

        <p><a href="{{ TODO }}?nomobile">Naar de reguliere website</a></p>
        <div class="moduletable">
            <div class="custom">
                <p>© {{ TODO }} Jonge Democraten</p>
            </div> <!-- custom -->
        </div> <!-- moduletable -->
        <div class="moduletable">
            <h3>RKR Cookie Banner</h3>
            <div id="cookie-message" class="cb antraciet atbottom">
                <div class="content">
                    Deze website maakt gebruik van cookies. Lees ons <a href="http://jongedemocraten.nl/contact-mainmenu-2196.html#privacypolicy" title="privacy statement">privacy statement</a> voor meer informatie. Gaat u akkoord met het gebruik hiervan?
                </div> <!-- content -->
                <div class="buttons">
                    <a id="set-cookie" class="cb green" href="#">Ja, ik ga akkoord</a>
                    <a id="remove-cookie-message" class="cb red" href="#">Liever niet</a>
                </div> <!-- buttons -->
                <div style="clear:both;">
                </div> <!-- -->
            </div>
            <script type="text/javascript">
                jQuery(document).ready(function ($) {
                    // Set cookies
                    function SetCookie(c_name, value, expiredays) {
                        var exdate = new Date();
                        exdate.setDate(exdate.getDate() + expiredays);
                        var c_value = escape(value) + ";path=/" + ((expiredays==null) ? "" : ";expires=" + exdate.toGMTString());
                        document.cookie=c_name + "=" + c_value;
                    }
                    $("#set-cookie").click(function() {
                        SetCookie('cb_accept_cookies', 'yes', 365 * 10);
                        $("#cookie-message").remove();
                        window.location.reload();
                    });
                    $("#remove-cookie-message").click(function() {
                        SetCookie('cb_accept_cookies', 'no', 365 * 10);
                        $("#cookie-message").remove();
                        window.location.reload();
                    });
                });
            </script>
        </div> <!-- moduletable -->
    </div> <!-- footerDiv -->

    <!-- TABS JS -->
    <script src="{% static "js/jquery-1.3.2.min.js" %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui-1.7.2.custom.min.js" %}"></script>
    <script type="text/javascript">
        jQuery.noConflict();
        jQuery(function() {
            jQuery("#tabs").tabs();
        });
    </script>
    <!-- END TABS -->
    <!-- Piwik -->

    <!-- End Piwik Tracking Code -->
</body>
</html>
