<div id="afdelingskaart">
<div class="infobox">
<h2>Afdeling</h2>
<h3 id="selected-gemeente">Gemeente</h3>
</div>
</div>
<script src="/static/website/js/d3.v3.min.js" type="text/javascript"></script>
<script src="/static/website/js/queue.v1.min.js" type="text/javascript"></script>
<script src="/static/website/js/d3.geo.projection.v0.min.js" type="text/javascript"></script>
<script src="/static/website/js/topojson.v0.min.js" type="text/javascript"></script>
<script src="/static/website/js/render.js" type="text/javascript"></script>
