{% load static %}

<nav class="navbar navbar-fixed-top">
  <div class="force-xlg-container col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <button class="search mobile hidden-lg hidden-md hidden-sm pull-right"><i class="gd gd-search-o"></i></button>
      <h1>
        <!-- SET href home url -->
        <a class="navbar-brand" href="#">
          Jonge Democraten
          <img src="{% static 'website/img/JDLogo.png' %}" alt="Jonge Democraten" />
        </a>
      </h1>
    </div>
    <div id="navbar" class="navbar-collapse collapse pull-right">
      <!-- START GENERATE menu -->
      <ul class="nav navbar-nav" role="menu" >
        <li class="active"><a href="#">home</a></li>
        <li><a href="#">waar we voor staan</a></li>
        <li>
          <a href="#">organisatie</a>
          <ul>
            <li><a href="#">bestuur</a></li>
          </ul>
        </li>
        <li><a href="#">afdelingen</a>
          <ul>
            <li><a href="#">afdeling 1</a></li>
            <li><a href="#">afdeling 2</a></li>
            <li><a href="#">afdeling 3</a></li>
          </ul>
        </li>
        <li><a href="#">agenda</a></li>
        <li><a href="#">contact</a></li>
        <!-- START STATIC MENU ITEMS -->
        <li class="hidden-xs"><button class="search"><i class="gd gd-search-o"></i></button></li>
        <!-- SET href doe-mee page -->
        <li><a class="word-lid" href="#"><i class="gd gd-heart"></i> word lid</a></li>
        <!-- END STATIC MENU ITEMS -->
      </ul>
      <!-- END GENERATE menu -->
    </div>
  </div>
</nav>
<!-- LOAD component-search.html -->