{% load fullcalendar %}
{% load staticfiles %}

<h3>{{ item.title }} </h3>
{% if item.type == "AL" %}
    {% get_agenda limit=item.max_items as events %}
{% elif item.type == "SI" %}
    {% get_site_agenda limit=item.max_items as events %}
{% elif item.type == "SM" %}
    {% get_site_and_main_agenda limit=item.max_items as events %}
{% endif %}
    <table width="100%" border="0" cellspacing="0" cellpadding="3">
    {% for event in events %}
        <tr>
            <td style="padding:5px 5px 5px 5px;">
                <img src="{% static "website/images/icons/calendar.png" %}"/>
            </td>
            <td>
                <a href="{{ event.get_absolute_url }}" style="font-weight: bold; color: black;">{{ event.title }}</a>
                <br/>
                {{ event.start_time|date:"l d F H:i" }}
            </td>
        </tr>
    {% endfor %}
    </table>
