{% load pages_tags mezzanine_tags i18n future staticfiles %}

<div id="logoDiv">
    <div>
        <a href="/"><img src="{% static "website/images/logo.png" %}" alt="Jonge Democraten"/></a>
        <p id="logosubtitle">
            {{ site_tagline }}
        </p>
    </div>
</div>

<div id="headerBackground">
    <img src="{% static "website/images/header_background_logo.png" %}" alt="" />
</div>

<div id="headerLinkDiv">
    <ul class="menu" id="headerLinkList">
        {% if user.is_authenticated %}
        <li><a href="{{ main_site_url }}/kaderpagina">Kaderpagina</a></li>
        {% endif %}
        <li><a href="{{ main_site_url }}/contact">Contact</a></li>
        {% if user.is_authenticated %}
        <li><b><a href="/admin">Admin</a></b>
        {% else %}
        <li><a href="/admin">Inloggen</a></li>
        {% endif %}
        <li><a href="{{ main_site_url }}">Home</a></li>
    </ul>
</div>
