{% load pages_tags mezzanine_tags i18n future staticfiles %}

<div id="logoDiv">
    <div>
        <a href="/"><img src="{% static "images/logo.png" %}" alt="Jonge Democraten"/></a>
        <p id="logosubtitle">
            {{ site_subtitle }}
        </p>
    </div>
</div>

<div id="headerBackground">
    <img src="{% static "images/header_background_logo.png" %}" alt="" />
</div>

<div id="headerLinkDiv">
    <ul class="menu" id="headerLinkList">
        <li><a href="/contact">Contact</a></li>
        <li><a href="/inloggen">Inloggen</a></li>
        <li><a href="/">Home</a></li>
    </ul>
</div>
