{% load staticfiles %}

<div class="moduletableonline">
    <h3>Jonge Democraten Online</h3>
    <div class="customonline"  >
        {% spaceless %}
        <p>
        {% for item in item.children %}
            <a href="{{ item.url }}" title="{{ item.media_type }}" rel="external nofollow">
                <img src="{% static item.icon_url %}" border="0" alt="{{ item.media_type }}" width="32" height="32"/>
            </a>   
        {% endfor %}
        </p>
        {% endspaceless %}
    </div>
</div>
