{% load staticfiles %}

<div class="moduletableonline">
    {% block social_media_heading %}<h3>Jonge Democraten Online</h3>{% endblock %}
    <div class="customonline"  >
        {% spaceless %}
        <p>
        {% for item in item.children %}
            <a href="{{ item.url }}" title="{{ item.media_type }}" rel="external nofollow">
                <img src="{% block item_icon_url %}{% static item.icon_url %}{% endblock %}" border="0" alt="{{ item.media_type }}" width="32" height="32"/>
            </a>   
        {% endfor %}
        </p>
        {% endspaceless %}
    </div>
</div>
