{% load fullcalendar %}

<div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
        <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#tabs-1" class="link"><span class="text">Agenda</span></a></li>
        <li class="ui-state-default ui-corner-top"><a href="#tabs-2" class="link"><span class="text">Nieuwsbrief</span></a></li>
    </ul>

    <div id="tabs-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
        <div class="panel-background">
        </div><!-- panel-background -->
        <div class="panel-content">
            <div class="moduletableagenda">
                <table class="mod_events_latest_table" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
                    <tbody>
                    {% if settings.SIDEBAR_AGENDA_SITES == 3 %}
                        {% get_agenda limit=8 as items %}
                    {% elif settings.SIDEBAR_AGENDA_SITES == 2 %}
                        {% get_site_and_main_agenda limit=8 as items %}
                    {% elif settings.SIDEBAR_AGENDA_SITES == 4 %}
                        {% get_main_agenda limit=8 as items %}
                    {% else %}
                        {% get_site_agenda limit=8 as items %}
                    {% endif %}
                    {% for item in items %}
                        <tr class="jevrow0">
                            <td class="mod_events_latest">
                                <span class="mod_events_latest_date">{{ item.start_time|date:"l d F H:i" }}</span>
                                <br />
                                <span class="mod_events_latest_content">
                                    <a target="_top" href="//{{ item.event.site }}{{ item.get_absolute_url }}">{{ item.title }}</a>
                                </span>
                                - {{ item.event.site.name }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table><!-- mod_events_latest_table -->
            </div><!-- moduletableagenda -->
            <p class="helekalender"><a href="{% url "fullcalendar-calendar" %}">» Bekijk volledige kalender</a></p>
        </div><!-- panel-content -->
    </div><!-- tabs-1 -->
    <div id="tabs-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
        <div class="panel-background">
        </div><!-- panel-background -->
        <div class="panel-content">
            <div class="moduletable">
        <div>Vul hieronder je emailadres in om een link te krijgen waarmee je je aan kunt melden voor de nieuwsbrieven van de Jonge Democraten en waarmee je je abonnementen kunt wijzigen.</div>
<form action="{% url 'hemres.views.view_home' %}" method="post">
    {% csrf_token %}
        <div style="display:block; margin-top:.5em;"><label for="id_email" style="display:inline-block;width:6em;">Emailadres:</label><input id="id_email" maxlength="254" name="email" type="email" /></div>
        <div style="display:block;margin-top:.5em;margin-left:6em;"><input class="button" type="submit" value="Doorgaan" /></div>
</form>
        <p class="helekalender"><a href="{% url 'list_all' %}">» Bekijk eerdere nieuwsbrieven</a></p>
            </div>
        </div><!-- panel-content -->
    </div><!-- tabs-2 -->
</div><!-- tabs -->
