<div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
        <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#tabs-1" class="link"><span class="text">Agenda</span></a></li>
        <li class="ui-state-default ui-corner-top"><a href="#tabs-2" class="link"><span class="text">Nieuwsbrief</span></a></li>
    </ul>

    <div id="tabs-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
        <div class="panel-background">
        </div><!-- panel-background -->
        <div class="panel-content">
            <div class="moduletableagenda">
                <table class="mod_events_latest_table" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
                    <tbody>
                        <tr class="jevrow0">
                            <td class="mod_events_latest">
                                <span class="mod_events_latest_date">dinsdag 31 maart 20:00</span>
                                <br />
                                <span class="mod_events_latest_content">
                                    <a target="_top" href="link_to_content">Description</a>
                                </span>
                                - Afdelingsnaam
                            </td>
                        </tr>
                    </tbody>
                </table><!-- mod_events_latest_table -->
            </div><!-- moduletableagenda -->
            <p class="helekalender"><a href="link_naar_agenda">» Bekijk volledige kalender</a></p>
        </div><!-- panel-content -->
    </div><!-- tabs-1 --> 
</div><!-- tabs -->
