
{% load twitter_tags i18n %}

{% tweets_default as tweets %}
<link rel="stylesheet" href="http://jongedemocraten.nl/modules/mod_twitterwidget/css/twitterwidget.css" type="text/css" />

<style type="text/css">
#twitter-tweets a {color: #6c8722}#twitter-container {background-color: #FFFFFF}#twitter-header {border-bottom-color: #8dc63f}#twitter-container {border-color: #8dc63f}.twitter-copyright {border-top-color: #8dc63f}.twitter-tweet-container {border-bottom-color: #8dc63f}#twitter {color: #000000}a .twitter-display-name {color: #333333}a .twitter-screen-name {color: #999999}a:hover .twitter-screen-name {color: #666666}#twitter-header, #twitter-header a {color: #333333}#twitter-container {width: 305px;}
.random_image_extended {text-align: center; margin: 10px 0 !important;}
.random_image_extended_small {text-align: right; font-size: 0.85em !important; margin-top: 15px !important;}

</style>

<div class="moduletabletwitter">
{% if tweets %}
<h3>Twitter</h3>
<div id="twitter-container">
    <div id="twitter">
        <div id="twitter-tweets">
            {% for tweet in tweets %}
            {% if forloop.last %}
            <div class="twitter-tweet-container twitter-last">
            {% else %}
            <div class="twitter-tweet-container">
            {% endif %}
                <div>
                    <a href="https://twitter.com/intent/user?screen_name={{ tweet.user_name }}" target="_blank">
                        <img src="{{ tweet.profile_image_url|cut:"http:" }}" class="twitter-avatar" style="width: 35px;" />
                    </a>
                </div>
                <div class="twitter-tweet" style="padding-left: 40px;">
                    <a href="https://twitter.com/intent/user?screen_name={{ tweet.user_name }}" target="_blank">{{ tweet.user_name }}</a> 
                    {{ tweet.text|safe }}
                </div>
                <div class="twitter-tweet-data">
                    <a href="https://twitter.com/{{ tweet.user_name }}/statuses/{{ tweet.remote_id }}" target="_blank">{% blocktrans with sometime=tweet.created_at|timesince %}{{ sometime }}{% endblocktrans %}</a>
                    &bull;
                    <a href="https://twitter.com/intent/tweet?in_reply_to={{ tweet.remote_id }}" target="_blank">reply</a>
                    &bull;
                    <a href="https://twitter.com/intent/retweet?tweet_id={{ tweet.remote_id }}" target="_blank">retweet</a>
                    &bull;
                    <a href="https://twitter.com/intent/favorite?tweet_id={{ tweet.remote_id }}" target="_blank">favorite</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
</div>
