<article class="collection-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<!-- SET href news item url -->
	<a href="#">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<figure class="">
					<img src="resources/img/item.jpg" alt="#" />
				</figure>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 collection-item-content large">
				<h2>Lorem ipsum dolor sit amet, econsectetur adipiscing elit.</h2>
				<h3><i class="gd gd-clock"></i>17 februari 2017 </h3>
				<p class="hidden-xs">
					Lorem ipsum dolor sit amet, consectetur eadipiscing elit. Nunc varius lacinia justo, vitae scelerisque nunc auctor vitae. Suspendisse eblandit tempus felis, vel elementum massa efaucibus nec. 
				</p>
			</div>
		</div>
	</a>
</article>