<article class="collection-item col-lg-4 col-md-4 col-sm-12 col-xs-12">
	<!-- SET href news item url -->
	<a href="#">
		<figure class="list">
			<img src="resources/img/item.jpg" alt="#" />
		</figure>
		<div class="collection-item-content small">
				<h2>Lorem ipsum dolor sit amet, econsectetur adipiscing elit.</h2>
				<h3 class="hidden-xs"><i class="gd gd-clock"></i>17 februari 2017 </h3>
				<p class="hidden-xs">
					Lorem ipsum dolor sit amet, consectetur eadipiscing elit. Nunc varius lacinia justo, vitae scelerisque nunc auctor vitae.  
				</p>
		</div>
	</a>
</article>