{% extends "base.html" %}

{% block meta_title %}{% block meta_title2 %}
Pagina niet gevonden
{% endblock %}{% endblock %}

{% block title %}
Pagina niet gevonden
{% endblock %}

{% block main %}
<h3>Pagina niet gevonden</h3>
Helaas, het is niet gelukt om deze pagina te vinden.

Ga terug naar de <a href="/">hoofdpagina</a> of:

<ul>
    <li><a href="https://jongedemocraten.nl/word-lid/">Word lid</a></li>
    <li><a href="https://jongedemocraten.nl/events/">Agenda</a></li>
    <li><a href="https://jongedemocraten.nl/afdelingen/">Afdelingen</a></li>
    <li><a href="https://jongedemocraten.nl/contact/">Contact</a></li>
    <li><a href="https://jongedemocraten.nl/admin/">Inloggen (voor beheerders)</a></li>
</ul>
{% endblock %}
