<div class="standpunten collection-container">
	<div class="collection-content col-lg-8 col-md-8 col-sm-12 col-xs-12">
		<h2>Standpunten overzicht</h2>
		<div class="row">
			<!-- START LOOP through opinion items -->
				<!-- LOAD content-standpunt-item.html -->
			<!-- END LOOP -->
		</div>
	</div>
	<div class="mobile-row col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<!-- LOAD views/components/sidebar/sidebar-twitter.html -->
		<!-- LOAD views/components/sidebar/sidebar-social.html -->
	</div>
</div>