<div class="standpunten collection-container">
	<div class="collection-content col-lg-8 col-md-8 col-sm-12 col-xs-12">
		<h2>Standpunten overzicht</h2>
		<div class="row">
			{% for vision_page in page.get_content_model.vision_pages.all %}
				{% include "components/content/standpunten/content_standpunt_item.html" %}
			{% endfor %}
		</div>
	</div>
	<div class="mobile-row col-lg-4 col-md-4 col-sm-12 col-xs-12">
		{% for item in page.get_content_model.sidebartwitter_set.all %}
			{% if item.visible %}
				{% include "components/sidebar/sidebar_twitter.html" %}
			{% endif %}
		{% endfor %}
		{% for item in page.get_content_model.sidebarsocial_set.all %}
			{% if item.visible %}
				{% include "components/sidebar/sidebar_social.html" %}
			{% endif %}
		{% endfor %}
	</div>
</div>