{% extends "base.html" %}

{% load mezzanine_tags static %}

{% block meta_title %}
  {% if blog_post %}
    {{ blog_post.title }}
  {% else %}
    Blogpost
  {% endif %}
{% endblock %}

{% block main %}

<section class="force-xlg-container col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
  <div class="news detail-container">
    <div class="detail-content col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <div class="detail-item">
        <h2>{{ blog_post.title }}</h2>
        <h3><i class="gd gd-clock"></i>{{ blog_post.publish_date|date:"d M Y" }}</h3>
        {% if blog_post.featured_image %}
          <figure>
            <img src="{{ blog_post.featured_image.url }}" alt="#" />
          </figure>
        {% endif %}
        {{ blog_post.content|richtext_filters|safe }}
        <div class="category-container">
          <span class="container-label">Categorie:</span>
          {% for category in blog_post.categories.all %}
            <a href="{% url "blog_post_list_category" category.slug %}" class="category-item">{{ category.title }}</a>
          {% endfor %}
        </div>
        <div class="social-container">
          <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="social-item">Facebook<i class="gd gd-facebook"></i></a>
          <a target="_blank" href="https://twitter.com/share?url={{ request.build_absolute_uri }}&via=JongeDemocraten&text=#" class="social-item">Twitter<i class="gd gd-twitter"></i></a>
        </div>
      </div>
    </div>
    <div class="mobile-row col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <?php require('components/sidebar/sidebar-agenda.php'); ?>
    </div>
  </div>
</section>

{% endblock %}

