{% extends "base.html" %}

{% load mezzanine_tags static fullcalendar %}

{% block meta_title %}Agenda{% endblock %}

{% block extra_js %}{{ block.super }}
<script type="text/javascript" src="{% static 'website/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/fullcalendar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/lang/fullcalendar-nl.js' %}"></script>

<script type="text/javascript">
    window.__calendar_default_date = "{{ default_date }}";
    window.__calendar_events_url = "{{ json_uri }}";
</script>

<script type="text/javascript" src="{% static 'website/js/calendar.js' %}"></script>
{% endblock %}

{% block extra_css %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'website/css/fullcalendar.css' %}" />
{% endblock %}


{% block main %}

<section class="force-xlg-container col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
    <div class="standard detail-container">
        <div class="detail-content-calendar col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="detail-item">

                <h2>Agenda</h2>

                <noscript>{% show_agenda %}</noscript>

                <p id="calendar-error" style="display:none;">
                    Hmm.. something went wrong with loading the events.
                </p>

                <div id="event-calendar"></div>
				
                <div>
                {% if not is_main_site %}
                <a style="float:left"; href="{{ main_site_url }}{% url 'fullcalendar-calendar' %}">Terug naar landelijke kalender</a>
                {% endif %}
                    <a style="float:right"; class="detail-item" href="//{{ request.get_host }}{% url 'fullcalendar-calendar' %}ical">
                       ICal
                    </a>
                </div>

                <p id="calendar-loading" style="display: none;">
                    <img src="{% static 'mezzanine/img/loadingAnimation.gif' %}" alt="Loading..." />
                </p>

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <aside class="sidebar row">
                <div class="collections-sidebar col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="sidebar-title"><i class="gd gd-agenda"></i> Afdelingen</h2>
                    <div class="sidebar-content">
                        {% events_site_legend %} 
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>

{% endblock %}


