{% extends "base.html" %}
{% load i18n mezzanine_tags staticfiles fullcalendar %}

{% block meta_title %}{{ occurrence.title }}{% endblock %}

{% block main %}
<div id="homeAreaDiv">
    <div id="homeImageDiv"><img src="{% static "images/congres_tafels.jpg" %}" alt="" /></div>
    <div id="homeLogoDiv"></div>
</div>

<div id="homeDiv">
    {% editable occurrence.event.title %}<h2>{{ occurrence.event.title }}</h2>{% endeditable %}
    {% if occurrence.description %}
    {% editable occurrence.description %}<h3>{{ occurrence.description }}</h3>{% endeditable %}
    {% endif %}
    <hr />

    {% editable occurrence.start_time occurrence.end_time occurrence.event.event_category %}
    <p>
        <strong>{% trans "When" %}:</strong> {% occurrence_duration occurrence %}<br />
        <strong>{% trans "Category" %}:</strong> {{ occurrence.event.event_category }}
    </p>
    {% endeditable %}

    {% editable occurrence.event.content %}
    {{ occurrence.event.content|richtext_filters|safe }}
    {% endeditable %}

    <p>
        <a href="{% url "fullcalendar-monthly-view" occurrence.start_time.year occurrence.start_time.month %}">&laquo; {% trans "Back to calendar" %}</a>
    </p>

</div>
{% endblock %}


