#twitter-container {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 12px;
}

#twitter a {
	background: none;
	text-decoration: none;
}

#twitter a:hover {
	text-decoration: underline;
}

.twitter-copyright {
	border-top: 1px #ccc solid;
	text-align: center;
}

.twitter-copyright a {
	color: #999;
	font-size: 9px;
	text-decoration: none;
}

#twitter-header {
	border-bottom: 1px #ccc solid;
	padding: 5px;
}

#twitter-header a {
	background: none;
	color: #333;
}

#twitter-header a:hover {
	text-decoration: none;
}

a .twitter-display-name {
	font-weight: bold;
	color: #333;
}

a:hover .twitter-display-name {
	text-decoration: underline;
}

a .twitter-screen-name {
	color: #999;
	text-decoration: none;
}

a:hover .twitter-screen-name {
	color: #666;
}

.twitter-avatar {
	border: 0px;
	float: left;
	margin-right: 5px;
}

#twitter-tweets a {
	color: #0084B4;
	text-decoration: none;
}

.twitter-tweet-container {
	border-bottom: 1px #ccc solid;
	padding: 8px;
}

.twitter-last {
	border: none;
}

.twitter-tweet-data {
	font-size: 10px;
	text-align: center;	
}

#twitter-twitter-icon a {
	background: url('../images/twitter-icon.png') no-repeat;
	display: block;
	float: right;
	height: 20px;
	width: 20px;
	text-indent: -9999px;
}