{% extends "mobile/pages/richtextpage.html" %}
{% load mezzanine_tags keyword_tags %}

{% block richtext_content %}
    {{ page.documentlisting.content|richtext_filters|safe }}
{% endblock richtext_content %}

{% block other_page_content %}
    <ul class="document-list">
        {% for document in page.documentlisting.documents.all %}
            <li class="document-list-item">
                <a href="{{ document.document.url }}" download="">{{ document.description }}</a>
            </li> <!-- document-list-item -->
        {% endfor %}
    </ul> <!-- document-list -->
{% endblock other_page_content %}
