{% extends "mobile/pages/richtextpage.html" %}
{% load mezzanine_tags %}

{% block richtext_content %}
{{ block.super }}
{% if request.GET.sent %}
    {{ page.form.response|richtext_filters|safe }}
{% else %}
    {% with page.form as page_form %}
    {{ page_form.content|richtext_filters|safe }}
    {% endwith %}

    {% errors_for form %}

    <form class="mezzanine-form" method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
        {% fields_for form %}
        <div class="form-actions">
            <input class="btn btn-primary btn-lg" type="submit" value="{{ page.form.button_text }}">
        </div>
    </form>
{% endif %}
{% endblock %}


{% block extra_js %}
{{ block.super }}
<script>
$(function() {$('.mezzanine-form :input:visible:enabled:first').focus();});
</script>
{% endblock %}
