{% extends "mobile/base.html" %}

{% load mezzanine_tags staticfiles %}

{% block meta_title %}{% block meta_title2 %}Home{% endblock %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block logo %}
    <a href="/"><img src="{% static "website/images/logo-mobile.png" %}" alt="Jonge Democraten"/></a>
    <p id="logosubtitlemobile">
        {{ site_tagline }}
    </p>
{% endblock logo %}

{% block main %}

    {% if page_header %}
        {% include "mobile/elements/page_header_image.html" %}
    {% endif %}


    {% for item in column_left_items %}
        <section class="collapsable {{ item.title|slugify }}">
            <div class="moduletable">
                {% with template_name=item.get_template_name|stringformat:"s" %}
                    {% include "elements/"|add:template_name %}
                {% endwith %}
            </div>
            <div class="moduletable">
                <div class="custom">
                    <p>
                        <a href="{{ item.url }}">» Meer {{ item.title }}</a>
                    </p>
                </div> <!-- custom -->
            </div> <!-- moduletable -->
        </section>
    {% endfor %}
    {% for item in column_right_items %}
        <section class="collapsable {{ item.title|slugify }}">
            <div class="moduletable">
                {% with template_name=item.get_template_name|stringformat:"s" %}
                    {% include "elements/"|add:template_name %}
                {% endwith %}
            </div>
            <div class="moduletable">
                <div class="custom">
                    <p>
                        <a href="{{ item.url }}">» Meer {{ item.title }}</a>
                    </p>
                </div> <!-- custom -->
            </div> <!-- moduletable -->
        </section>
    {% endfor %}
    {{ block.super }}
{% endblock main %}

