{% extends "mobile/base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}
    {% metablock %}
        {% keywords_for page as keywords %}
        {% for keyword in keywords %}
            {% if not forloop.first %}, {% endif %}
            {{ keyword }}
        {% endfor %}
    {% endmetablock %}
{% endblock meta_keywords %}

{% block meta_description %}
    {% metablock %}
        {{ page.description }}
    {% endmetablock %}
{% endblock meta_description %}

{% block main %}
    <section class="content clearing">
        <p class="pathway"></p>
        <div id="homeAreaDiv">
            <div class="moduletable">
                <div class="random_image_extended">
                    <img src="{{ TODO }}" alt="{{ TODO }}" width="{{ TODO }}" height="{{ TODO }}" />
                </div> <!-- random_image_extended -->
            </div> <!-- moduletable -->
            <div class="moduletable">
                <div class="custom">
                    <div id="homeLogoDiv">
                    </div> <!-- homeLogoDiv -->
                    <div id="homeLogoText">
                        {{ page.meta_title }}
                    </div> <!-- homeLogoText -->
                </div> <!-- custom -->
            </div> <!-- moduletable -->
        </div> <!-- homeAreaDiv -->
        <div class="item-page">
            <h2>
                <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
            </h2>
            {% block richtext_content %}
                {{ page.richtextpage.content|richtext_filters|safe }}
            {% endblock richtext_content %}
            {% block other_page_content %}{% endblock %}
        </div> <!-- item-page -->
    </section> <!-- content -->
{% endblock %}

