<article class="action-banner-container">
	<figure>
		<img src="resources/img/action-banner.jpg" alt="#"/>
		<figcaption>
			<h2>ONZE AFDELINGEN, DE KERN VAN ONZE VERENIGING</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla odio nec velit ultrices lobortis. Quisque et lorem id diam vulputate vehicula fermentum a quam. Fusce porta bibendum lectus. Aenean vel venenatis velit, in commodo metus. Aenean ultricies mollis.</p>
			<!-- SET href to action url -->
			<a href="afdeling.php" class="button">Alle afdelingen</a>
		</figcaption>
	</figure>
</article>