{% load static %}

<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="nl"> <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} - {{ settings.SITE_TITLE }}{% else %}Jonge Democraten{% endif %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'website/img/favicon/apple-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'website/img/favicon/apple-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'website/img/favicon/apple-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'website/img/favicon/apple-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'website/img/favicon/apple-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'website/img/favicon/apple-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'website/img/favicon/apple-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'website/img/favicon/apple-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'website/img/favicon/apple-icon-180x180.png' %}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'website/img/favicon/android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'website/img/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'website/img/favicon/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'website/img/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'website/img/favicon/manifest.json' %}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png' %}">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="{% static 'website/css/vendor/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'website/css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'website/css/main.css' %}">

        {% block extra_css %}{% endblock %}

        <script src="{% static 'website/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="resources/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="{% static 'website/js/vendor/bootstrap.min.js' %}"></script>

        {% block extra_js %}{% endblock %}
        {% block extra_head %}{% endblock %}

        {% if piwik_url %}
            {% include "component/piwik_tracking_code.html" %}
        {% endif %}

    </head>

    <body>

        {% include "components/nav.html" %}

        {% if page.homepage %}
            {% include "components/header_home.html" %}
        {% else %}
            {% include "components/header_default.html" %}
        {% endif %}

        <div class="container-fluid">
            <div class="row">

            {% block main %}{% endblock %}

            </div>
        </div>

        {% include "components/footer.html" %}

        <script src="{% static 'website/js/main.js' %}"></script>
    </body>

</html>