{% load pages_tags mezzanine_tags i18n future staticfiles %}

<div id="logoDiv">
    <a href="/"><img src="{% static "images/logo.png" %}" alt="Jonge Democraten"/></a>
</div> 

<div id="headerBackground">
    <img src="{% static "images/JD_header_bg_logo01.png" %}" alt="" />
</div>

<div id="headerLinkDiv">
    <ul class="menu" id="headerLinkList">
        <li><a href="/contact">Contact</a></li>
        <li><a href="/inloggen">Inloggen</a></li>
        <li><a href="/">Home</a></li>
    </ul>
</div>
