{% load pages_tags mezzanine_tags i18n future staticfiles %}

<div id="logoDiv">
    <a href="/"><img src="{% static "images/logo.png" %}" alt="Jonge Democraten"/></a>
</div> 

<div id="headerBackground">
    <img src="{% static "images/JD_header_bg_logo01.png" %}" alt="" />
</div>

<div id="headerLinkDiv">
    <ul class="menu" id="headerLinkList">
    <li class="item-250"><a href="/contact-mainmenu-2196.html" >Contact</a></li><li class="item-157"><a href="https://jongedemocraten.nl/inloggen.html" >Inloggen</a></li><li class="item-208 active"><a href="/" >Home</a></li></ul>
</div>