<div class="moduletableonline">
    <h3>Jonge Democraten Online</h3>
    <div class="customonline"  >
        {% spaceless %}
        <p>
            <a href="http://www.facebook.com/group.php?gid=2225510846" title="Facebook Group" rel="external nofollow">
                <img src="https://jongedemocraten.nl/templates/jd/images/share/facebook.png" border="0" alt="Facebook Group" width="32" height="32"/>
            </a>   
            
            <a href="http://www.linkedin.com/groups?gid=1039477" title="Linked In Group" rel="external nofollow">
                <img src="https://jongedemocraten.nl/templates/jd/images/share/linkedin.png" border="0" alt="LinkedIn Group" width="32" height="32"/>
            </a>
            
            <a href="http://twitter.com/jongedemocraten" title="Twitter" rel="external nofollow">
                <img src="https://jongedemocraten.nl/templates/jd/images/share/twitter.png" border="0" alt="Twitter" width="32" height="32" />
            </a>
            
            <a href="http://youtube.com/jongedemocraten" title="YouTube" rel="external nofollow">
                <img src="https://jongedemocraten.nl/templates/jd/images/share/youtube.png" border="0" alt="YouTube" width="32" height="32" />
            </a>
        </p>
        {% endspaceless %}
    </div>
</div>
