{% extends "mobile/base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{% block meta_title2 %}{{ blog_post.meta_title }}{% endblock %}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for blog_post as tags %}
    {% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% block meta_description2 %}{% metablock %}
    {{ blog_post.description }}
{% endmetablock %}{% endblock %}{% endblock %}

{% block main %}
<section class="content clearing">

    <p class="pathway"></p>
    <h2>
        <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
    </h2>

    <div class="item-page">

        <p>
            Geschreven door
            {% with blog_post.user as author %}
                {{ author.get_full_name|default:author.username }}
            {% endwith %}
            <br/>
            {{ blog_post.publish_date|date:"d M Y" }}
        </p>

        {{ blog_post.content|richtext_filters|safe }}

    </div> <!-- item-page -->

</section> <!-- content -->
{% endblock main %}
