<?php require('components/component-site-start.php'); ?>
<?php require('components/component-nav.php'); ?>
<?php require('components/component-header-default.php'); ?>
<?php require('components/component-site-wrapper-start.php'); ?>
<!-- start nieuws specific -->
<section class="force-xlg-container col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
	<div class="news list-container">
		<div class="list-content col-lg-8 col-md-8 col-sm-12 col-xs-12">
			<?php foreach(Array(1,2) as $count): ?>
				<?php require('components/content/nieuws/content-news-item.php'); ?>
			<?php endforeach; ?>
			<?php require('components/component-pagination.php'); ?>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<?php require('components/sidebar/sidebar-categories.php'); ?>
			<?php require('components/sidebar/sidebar-twitter.php'); ?>
		</div>
	</div>
</section>
<!-- end nieuws specific -->
<?php require('components/component-site-wrapper-end.php'); ?>
<?php require('components/component-footer.php'); ?>
<?php require('components/component-site-end.php'); ?>