{% extends "base.html" %}
{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Blog" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block main %}

    {% if page_header %}
        {% include "elements/page_header_image.html" %}
    {% endif %}

    {% if page and page.get_content_model.content %}
        {% editable page.get_content_model.content %}
        {{ page.get_content_model.content|richtext_filters|safe }}
        {% endeditable %}
    {% endif %}

    {% for blog_post in blog_posts.object_list %}
        {% block blog_post_list_post_title %}
        {% editable blog_post.title %}
        <h2>
            <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
        </h2>
        {% endeditable %}
        {% endblock %}

        {% block blog_post_list_post_metainfo %}
        {% editable blog_post.publish_date %}
        <h6 class="post-meta">
            {% trans "Posted by" %}:

            {% with blog_post.user as author %}
                <a href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
            {% endwith %}

            {% with blog_post.categories.all as categories %}
            {% if categories %}
                {% trans "in" %}
                {% for category in categories %}
                    <a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            {% endif %}
            {% endwith %}

            {% blocktrans with sometime=blog_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
        </h6>
        {% endeditable %}
        {% endblock %}

        {% block blog_post_list_post_content %}
            {% editable blog_post.content %}
            {{ blog_post.content|safe }}
            {% endeditable %}
        {% endblock %}

    {% endfor %}

    <h3>{% pagination_for blog_posts %}</h3>

{% endblock %}