{% extends "base.html" %}

{% load mezzanine_tags %}

{% block meta_title %}
  {% if page %}
    {{ page.meta_title }}
  {% else %}
    Blog
  {% endif %}
{% endblock %}

{% block main %}

<section class="force-xlg-container col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
    <div class="news list-container">
        <div class="list-content col-lg-8 col-md-8 col-sm-12 col-xs-12">
            {% for blog_post in blog_posts.object_list %}
              {% include "components/content/nieuws/content_news_item.html" %}
            {% endfor %}
            <div class="pagination">
                <h3>{% pagination_for blog_posts %}</h3>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            {% include "components/sidebar/sidebar_twitter.html" %}
        </div>
    </div>
</section>

{% endblock %}

