{% extends "base.html" %}

{% load mezzanine_tags %}

{% block meta_title %}Home{% endblock %}

{% block main %}

{% if page_header %}
    {% include "elements/page_header_image.html" %}
{% endif %}

<div id="homeDiv">
    <div class="item-page">
        {% editable page.homepage.content %}
        {{ page.homepage.content|richtext_filters|safe }}
        {% endeditable %}
    </div>
</div>

<div id="homeLeftDiv">

    {% for item in column_left_items %}
        <div class="moduletable">
            {% with template_name=item.get_template_name|stringformat:"s" %}
                {% include "elements/"|add:template_name %}
            {% endwith %}
        </div>
    {% endfor %}
    
</div>

<div id="homeRightDiv">

    {% for item in column_right_items %}
        <div class="moduletable">
            {% with template_name=item.get_template_name|stringformat:"s" %}
                {% include "elements/"|add:template_name %}
            {% endwith %}
        </div>
    {% endfor %}
    
</div>

{{ block.super }}
{% endblock %}
