{% extends "base.html" %}

{% load mezzanine_tags %}

{% block meta_title %}Home{% endblock %}

{% block main %}

<div id="homeDiv">
    <div class="item-page">
        {% editable page.homepage.content %}
        {{ page.homepage.content|richtext_filters|safe }}
        {% endeditable %}
    
    </div>
</div> <!-- homeDiv -->


<div id="homeLeftDiv">
{% for element in column_elements_left %}
    <div class="moduletable">
        <h3>{{ element.title }} </h3>
        <div class="mod_placehere">
            <div style="overflow:auto;" class="mod_placehere_leading even">
                <div class="placehere">
                {% for item in element.items %}
                    {% with template_name=item.get_template_name|stringformat:"s" %}
                        {% include "elements/"|add:template_name %}
                    {% endwith %}
                {% endfor %}
                </div>        
            </div>
        </div> 
    </div>
{% endfor %}
    
    <div class="moduletable">
        <div class="custom"  >
            <p><a href="/media/persberichten.html">» Archief Persberichten</a></p>
            <p><a href="/media/actuele-publiciteit.html">» Archief JD in de Media</a></p>
            <p><a href="/politiek">» Archief Politiek</a></p>
        </div>
    </div>
    
</div>

<div id="homeRightDiv">
    
{% for element in column_elements_right %}
    <div class="moduletable">
        <h3>{{ element.title }} </h3>
        <div class="mod_placehere">
            <div style="overflow:auto;" class="mod_placehere_leading even">
                <div class="placehere">
                {% for item in element.items %}
                    {% with template_name=item.get_template_name|stringformat:"s" %}
                        {% include "elements/"|add:template_name %}
                    {% endwith %}
                {% endfor %}
                </div>        
            </div>
        </div> 
    </div>
{% endfor %}

    <div class="moduletable">
        <div class="custom"  >
            <p><a href="/organisatie/mededelingen">» Meer Mededelingen</a></p>
        </div>
    </div>
    
</div>

{{ block.super }}
{% endblock %}
