{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block main %}

<div id="homeDiv">
    <div class="item-page">     
        <h2><a href="{{ page.get_absolute_url }}">{% editable page.title %}{{ page.title }}{% endeditable %}</a></h2>
        
        {% block richtext_content %}{% endblock %}
        
    </div>
</div> <!-- homeDiv -->

<div id="homeLeftDiv">home left div</div>
<div id="homeRightDiv">home right div</div> 
                
{% endblock %}
