{% extends "base.html" %}

{% load mezzanine_tags %}

{% block meta_title %}{% block meta_title2 %}{{ page.meta_title }}{% endblock %}{% endblock %}

{% block main %}

<section class="force-xlg-container col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
    <div class="bestuur list-container">
        <div class="list-content col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="row">
                <div class="basic-container">
                    <div class="basic-content">
                        <h2>{{ page.title }}</h2>
                        {{ page.organisationpartpage.content|richtext_filters|safe }}
                    </div>
                </div>
                <div class="row">
                    <?php foreach(Array(1,2,3,4,5,6,7,8,9) as $count): ?>
                    <?php require('components/content/bestuur/content-bestuur-item.php'); ?>
                    <?php endforeach; ?>
                </div>
            </div>
        </div>
        <div class="mobile-row col-lg-4 col-md-4 col-sm-12 col-xs-12">
            {% include "components/sidebar/sidebar_twitter.html" %}
        </div>
    </div>
</section>

{{ block.super }}
{% endblock %}