{% extends "base.html" %}

{% load mezzanine_tags %}

{% block meta_title %}{% block meta_title2 %}{{ page.meta_title }}{% endblock %}{% endblock %}

{% block main %}
<section class="force-xlg-container col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
	<div class="standpunten collection-container">
		<div class="collection-content col-lg-8 col-md-8 col-sm-12 col-xs-12">
			<div class="collection-description">
				<h2>Standpunten</h2>
				{{ page.visionspage.content|richtext_filters|safe }}
			</div>
			<div class="row">
                {% for vision_page in page.get_content_model.vision_pages.all %}
                    {% include "components/content/standpunten/content_standpunt_item.html" %}
                {% endfor %}
			</div>
		</div>
		<div class="mobile-row col-lg-4 col-md-4 col-sm-12 col-xs-12">

            {% for item in page.get_content_model.sidebartwitter_set.all %}
                {% if item.visible %}
                    {% include "components/sidebar/sidebar_twitter.html" %}
                {% endif %}
            {% endfor %}
		</div>
	</div>
</section>

{{ block.super }}
{% endblock %}
