{% extends "base.html" %}

{% load mezzanine_tags %}

{% block meta_title %}
  {% if page %}
    {{ page.meta_title }}
  {% else %}
    Word lid
  {% endif %}
{% endblock %}

{% block main %}

<section class="force-xlg-container col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
  <div class="content-container">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <div class="row">
        <div class="doemee basic-container">
          <div class="basic-content">
            <h2>{{ page.title }}</h2>
            {{ page.wordlidpage.content|richtext_filters|safe }}
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-row col-lg-4 col-md-4 col-sm-12 col-xs-12">
      {% include "components/sidebar/sidebar_twitter.html" %}
    </div>
  </div>
</section>

<section class="force-xlg-container col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
  {% for action_banner in page.wordlidpage.actionbanner_set.all %}
    {% include "components/content/content_action_banner.html" %}
  {% endfor %}
</section>

<section class="force-xlg-container col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
  {% include "components/content/content_doemee_banner.html" %}
  <div class="mobile-row col-lg-4 col-md-4 col-sm-12 col-xs-12">
    {% include "components/sidebar/sidebar_doemee.html" %}
  </div>
</section>

{% endblock %}

