{% load mezzanine_tags i18n future %}

<div id="searchDiv">

<form action="{% url "search" %}" role="search">

    <input type="text" name="q" size="24" value="{{ request.REQUEST.q }}">
    <input type="submit" class="button" value="{% trans "Zoek" %}">


{% if search_model_choices %}
    {% if search_model_choices|length == 1 %}
    <input type="hidden" name="type" value="{{ search_model_choices.0.1 }}">
    {% else %}
    <div class="form-group">
    <select class="form-control" name="type">
        <option value="">{% trans "Everything" %}</option>
        {% for verbose_name, model in search_model_choices %}
        <option value="{{ model }}"
            {% if model == request.REQUEST.type  %}selected{% endif %}>
            {{ verbose_name }}
        </option>
        {% endfor %}
    </select>
    </div>
    {% endif %}
{% endif %}


</form>

</div>